body {
  padding: 0;
  margin: 0;
  z-index: 1;
  /* overflow: auto; */
  /* overflow: hidden; */
  background-image: linear-gradient(
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0)
    ),
    url(requirment/img/2147746709.jpg);
  background-position: 10%, 10%;
  background-size: cover;
  background-attachment: fixed;
}

.tcourse {
  background-size: cover;
  width: 100%;
  height: 23rem;
  margin-top: 7rem;
  text-align: center;
  /* z-index: -1; */
  /* background: linear-gradient(to right, rgba(255, 255, 255, 0) ,rgb(255, 255, 255), rgba(255, 255, 255, 0)); */
}

.tcourse-container {
  padding-top: 2rem;
  width: 60%;
  margin: auto;
  line-height: 2;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.par {
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.parg {
  line-height: 2;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.dip1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30rem;
  padding-bottom: 2rem;
}

.dip2 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 30rem;
  padding-bottom: 2rem;
}

.dip1-container {
  width: 60%;
  height: 100%;
  margin: auto;
  margin-left: 5rem;
}

.dip2-container {
  width: 60%;
  height: 100%;
  margin: auto;
  margin-right: 5rem;
}

.dip1-content {
  border: 1px solid #0e3e18;
  margin-top: 1rem;
  height: 13rem;
  width: 95%;
  padding: 1.5rem;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 0px 9px 9px 9px;
  box-shadow: 1px 5px 15px #0e3e18;
}

.dip1-button span {
  padding: 1.1rem 1rem;
  border-radius: 9px 9px 0px 0px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #0e3e18;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  /* box-shadow: 0px 0px 4px 0px #0e3e18 */
  /* background-color: white; */

  &:nth-child(1) {
    border: block;
    background-color: white;
  }

  &:nth-child(2) {
    border-width: 0;
  }

  &:nth-child(3) {
    border-width: 0;
    padding: 1.1rem 3rem;
  }
}

#animation_video {
  margin: auto;
  display: block;
  width: 80%;
  margin-left: 5rem;
  margin-top: 4rem;
  box-shadow: 1px 10px 20px #0e3e18;
  border-radius: 20px;
  /* height: 50%; */
}

.dip1-p1 {
  display: block;
}

.dip1-p2 {
  display: none;
}

.dip1-p3 {
  display: none;
}

.headings {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #7fa629;
  text-align: center;
  padding: 2rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  width: 100%;
}

.animation_container {
  position: relative;
  margin-top: 5rem;
}

.section {
  width: 90%;

  margin: auto;
  background-color: whitesmoke;
  border-radius: 10px;
  background-image: linear-gradient(
      to right,
      rgba(165, 210, 149, 0.221),
      rgba(116, 219, 107, 0.374) 40%
    ),
    url(requirment/img/anBgImg.png);
  background-size: cover;
  /* overflow-x: scroll; */
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
  display: none;
  box-shadow: 1px 10px 20px #0e3e18;
}

.image_car {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  border-radius: 10px 10px 0 0;
}

.carousel_track {
  width: 300%;
  animation: carousel 15s both infinite;
  display: flex;
  flex-direction: row;
}

.imgslide {
  /* display: inline-block; */
  width: 100%;
  float: right;
}

@keyframes carousel {
  /* add/remove steps if more/less images */
  0%,
  10% {
    transform: translate3d(0, 0, 0);
  }
  33.6%,
  66.6% {
    transform: translate3d(-33.3%, 0, 0);
  }
  66.6%,
  100% {
    transform: translate3d(-66.6%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.Adv_img {
  width: 100%;
  object-fit: cover;
  height: 30rem;
}

.section_content {
  height: 17rem;
  border-radius: 0 0 10px 10px;
  padding: 0;
  margin: 0;
  /* position: absolute; */
}

.section_content h2 {
  text-align: center;
  color: rgb(127, 166, 41);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.section_content p {
  width: 80%;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  font-size: 1rem;
  letter-spacing: 1px;
}

/* .section1 {
    display: none;
}

.section2 {
    display: none;
}

.section3 {
    display: none;
} */

.active {
  display: block !important;
  transition: 2.6s ease-in-out;
}

.next_btn {
  background-image: linear-gradient(
    to right,
    #56ab2f 0%,
    #a8e063 51%,
    #56ab2f 100%
  );
  /* margin: 10px; */
  padding: 20px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px 0 0 5px;
  display: block;
  position: absolute;
  top: 75%;
  right: 5%;
}

.next_btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.prv_btn {
  background-image: linear-gradient(
    to right,
    #56ab2f 0%,
    #a8e063 51%,
    #56ab2f 100%
  );
  /* margin: 10px; */
  padding: 20px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 0 5px 5px 0;
  display: block;
  position: absolute;
  top: 75%;
  left: 5%;
}

.prv_btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.footer-content {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0) 30%,
    rgba(175, 251, 168, 0)
  );
}

@media screen and (max-width: 1000px) {
  .headings {
    padding: 0;
  }

  .tcourse {
    background-size: cover;
    width: 100%;
    height: 30rem;
    margin-top: 7rem;
    text-align: center;
  }

  .dip1_mobile {
    flex-direction: column;
    height: 100%;
    width: 95%;
  }
  .dip1-container {
    width: 100%;
    height: 100%;
    margin: 0.5rem;
  }

  .dip1-button {
    margin-bottom: 1rem;
  }

  .dip1 {
    padding-bottom: 0%;
  }

  .dip1-button span {
    padding: 1rem 1.3rem;
    border-radius: 9px 9px 9px 9px;
    width: 74%;
    margin: auto;
    cursor: pointer;
    border: 1px solid #0e3e18;
    /* border-bottom:1px solid white; */
    text-transform: uppercase;
    /* box-shadow: 0px 0px 4px 0px #0e3e18 */
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    border-width: block !important;
  }

  .dip1-content {
    /* margin-top: 0.3rem; */
    height: 20rem;
    width: 79%;
    margin: auto;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 0px 9px 9px 9px;
    box-shadow: 1px 5px 15px #0e3e18;
  }

  .dip1-content span p {
    height: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }
  .tcourse-container {
    width: 80%;
    position: absolute;
    right: 3rem;
    height: 50;
    margin: 0%;
    padding: 0%;
  }
  .video_contariner {
    width: 70%;
    height: 100%;
    position: absolute;
    padding: 0.5rem;
    margin-top: 10rem;
    border-radius: 20px;
    margin-bottom: 1rem;
  }
  #animation_video {
    height: 80%;
    width: 93%;
    position: relative;
    box-shadow: 8px 6px 10px #0e3e18;
    margin: 1rem;
  }

  /* diploma in graphic designing */

  .par {
    width: 100%;
  }

  .adv_video {
    width: 100%;
  }

  .section_content {
    height: 20rem;
  }
}
