

body{
    padding: 0;
    margin: 0;
}

/* ---Navigation Bar--- */

#header{
    display: block;
    color: white;
    /* background-color: rgb(172, 172, 172); */
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: white;
    margin: 0%;
    font-family: "Open Sans", sans-serif;
}

#header::after{
    background-color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7rem;

    z-index: 1000;
    /* width: 100%; */
    /* background-image: url(/requirment/img/peakpx.jpg); */
    /* background-image:linear-gradient(to left,rgba(0, 0, 0, 0.788),rgba(255, 255, 255, 0.151)) ,url(/requirment/img/peakpx.jpg); */
   
    /* background-attachment: fit; */
    
}

.navbar{
    /* justify-content: flex-end; */
    width: 20rem;
    z-index: 1000;
}

.nav_list{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    /* align-items:start; */
    list-style-type: none;

}


.nav-link{
    padding: 1rem;
    font-size: 1.15rem;
    text-decoration: none;
    color: rgb(61, 61, 61);
    transition: width 2s;

 
}

.nav-link:hover{
    border-bottom: solid 3px  #7fa629;
    color:  #7fa629;
    width: 100%;
    
   
    
}

.logo_img{
    margin-left: 3rem;
    width:  16rem;
    height: 5rem;
}

.modal{
    display: none;
}

/* ---Video section--- */

#hero{
    padding: 2rem 0 3rem 0;
    width: 100%;
    height: 42rem;
    background-color: rgb(172, 172, 172);
}

video{
    width: 50%;
    height:40rem;
    animation-name: slideInVideo;
    animation-duration: 2s;
    animation-timing-function:ease-in;
    animation-delay: 0s;
    /* animation-fill-mode: both; */
    animation-iteration-count: 1;


    
}

/* ---animation for the video to slide in --- */

@keyframes slideInVideo {

    from{
        transform: translateX(200px);
    }
    
    to{
        transform: translateX(0px);
    }
}

video::-webkit-media-controls {
    display: none;
  }

.content1{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around;
    width: 100%;
    height: 50rem;
    /* margin: auto; */
    font-size: 1.1rem;
}


.tittle{
    /* margin: 3rem; */
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: #7fa629;
}

/* ---slogun --- */

#side-text{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    padding: 0;
    margin: 0;
    font-family: "Jost", sans-serif;
    line-height: 1.2;
    font-weight: 600;
    animation-name: slideInLeft;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    animation-delay:0s;
    animation-iteration-count: 1;
    animation-direction:normal;

}


/* ---animation for the slogun--- */

@keyframes slideInLeft {
    from{
        transform: translateX(-300px);
        opacity: 0;
    }
    
    to{
        transform: translateX(0px);
        opacity: 1;

    }
}

#side-sub{
    font-size: 1.5rem;
    font-family: "Jost", sans-serif;
    padding-left: 3px;
    margin-top: 1rem;
    animation-name: slideInUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay:0s;
    animation-iteration-count: 1;
    animation-direction:normal;

}

/* animation for the slogun sub */
@keyframes slideInUp {
    from{
        transform:translateY(40px);
        opacity: 0;
    }
    
    to{
        transform: translateY(0px);
        opacity: 1;

    }
}

  /* ---About section--- */

#about{
    /* background-image: url(/requirment/img/bg-1.jpg); */
    background-size: cover;
    height: 40rem;
}

.about-1{
    height: 60rem;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 74%;
    /* margin-right: 20rem; */
    margin: auto;
    font-size: 0.96rem;
    font-family: "Open Sans", sans-serif;
   
}

#empty{
    width: 50%;
    padding-top: 8rem;
}

#about_img{
    height: 30rem;
    width: 30rem;
   
}

.left_row{
    width: 52%;
    height: 33rem;
    text-align: left;
    letter-spacing:1px;
    line-height: 1.5;

}

.inside{
    width: 90%;
    margin: auto;
}
/* 
.left_row:hover{
    border-radius: 30px;
    background: rgb(248, 245, 231);
    box-shadow: rgba(119, 170, 53, 0.205) 0px 30px 50px -10px inset, rgba(249, 250, 249, 0.719) 0px 18px 26px -18px inset;
    /* transition-delay: 2s; 
    transition: 0.8s ease-in;
} */

.list{
    list-style-type: none;
    padding: 0%;
    line-height: 2;
    font-size: 0.98rem;
}

svg{
    width: 1rem;
}

/* ---course template--- */

.course_tem{
    height: 15rem;
    background-image:url(/requirment/img/bg_4.jpg);
    background-size: cover;
    background-position: 40% 30%;
    margin-top: 4rem;

}

.course_content {
    width: 60%;
    margin: auto;
    padding-top: 0.1rem;

}
.course_tt{
    font-size: 2rem;
    font-weight: 450;
    color: white;
    padding: 2.5rem 0 1rem 0;
    margin: 0%;
    font-family: "Oswald", sans-serif;
}
.course_tem_des{
    font-size: 1.5rem;
    font-weight: normal;
    color: rgb(192, 255, 156);
    font-family: "Oswald", sans-serif;
    margin: 0;
}

/* ---web development--- */

.web{
    height: 25rem;
    padding: 4rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    margin: auto;
}
.web_img{
     height: 15rem;
     width: 15rem;  
}

.img_align{
    margin: auto;
    /* width: 30%; */
}

.web_content{
    width: 50%;   
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
}

.web_text1{
    font-weight: 450;
}

.web_text2{
    font-size: 0.96rem;
    text-align: center;
    width: 75%;
    margin: auto;
    letter-spacing: 1px;
    font-weight:400;
}


 /* ---service divition--- */

 .sevice-container{
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

#p{
    width: 45%;
    margin: auto;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 4rem 0 ;
}

/* @media only screen and (max-width: 1500px){
    .flex-contain{
        width: 70%;
    }
} */
.flex-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    padding-top: 1rem;
    width: 15rem;
    margin: auto;
    /* border: 1px solid rgba(0, 0, 0, 0.062); */
    text-align: center;
    height: 20rem;
    overflow: hidden;
    background:linear-gradient(to right, rgba(255, 255, 255, 0.767) 0%, rgba(128, 255, 116, 0.267) );
    box-shadow: 5px 5px 5px 0 rgb(179, 183, 188);
    border-radius: 5px;
}

.no{
    padding: 4rem;
}

.head-text{
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: #7fa629;
}

.p-text{
    font-size: 1.1rem;
    font-family: "Open Sans", sans-serif;
    width: 90%;
    margin: auto;
    font-weight: 300;
}

.icon{
    width: 5rem;
    height: 5rem;
}

.heading{
    font-weight: 450;
}

/* ---careers section--- */

.career-section{
    font-family: "Open Sans", sans-serif;
}

#p2{
    width: 83%;
    margin: auto;
    text-align: center;
    font-size: 0.96rem;
    letter-spacing: 0.7px;
}

/* carosule section */
/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
 .section-container{
    margin: 5rem 0;
 }

  
  .container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 35rem;
    gap: 10px;
  
     div {
      flex: 0 0 25rem;
      border-radius: 0.5rem;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      box-shadow: 1px 5px 15px #1e0e3e;
      position: relative;
      overflow: hidden;
  
      &:nth-of-type(1) {
        background: url("/requirment/img/web.jpg")
          no-repeat 5% / cover;
          background-position:1%, 2% ;
      }
      &:nth-of-type(2) {
        background: url("/requirment/img/web.jpg")
          no-repeat 5% / cover;
          background-position:30%, 100% ;
      }
      &:nth-of-type(3) {
        background: url("/requirment/img/web.jpg")
          no-repeat 5% / cover;
          background-position: 100%, 10%;   
      }
  
      .content {
        font-size: 1.5rem;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 15px;
        opacity: 0;
        flex-direction: column;
        margin: auto;
        height: 90%;
        justify-content: flex-end;
        background: rgb(2, 2, 46);
        background: linear-gradient(
          0deg,
          rgba(2, 2, 46, 0.6755077030812324) 0%,
          rgba(0, 0, 0, 0.419) 100%
        );
        transform: translatey(100%);
        transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
        visibility: hidden;
  
        span {
          display: block;
          margin-top: 5px;
          font-size: 1.2rem;
        }
      }
  
      &:hover {
        flex: 0 0 27rem;
        box-shadow: 1px 3px 15px #7645d8;
        transform: translatey(-30px);
      }
  
      &:hover .content {
        opacity: 1;
        transform: translatey(0%);
        visibility: visible;
      }
    }
  }


/* ---footter section--- */

.footer-content{
    background-image: linear-gradient(rgba(255, 255, 255, 0.112)50% , rgba(123, 255, 103, 0.37));
    background-size: cover;
    background-position: 10% 60%;
    height: 25rem;
    margin: 0;
    color: rgb(0, 0, 0);
    display: flex;
    /* justify-content: end; */
}

.footer_contain{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 75%;
    margin: 0% auto;
}




.Contact-text{
    margin: 0;
}
